@import "../colors/gruvbox/colors.css";

* {
  background-image: none;
	box-shadow: none;
  font-family: "Rubik", "JetBrains Mono Nerd Font Propo";
  font-size: 22px;
}

window {
  background: alpha(@bg1, .5);
}

button {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 15%;
    background-color: alpha(@bg1, .6);
    color: @fg;
    margin: 5px;
    animation: gradient_f 10s ease-in infinite;
    transition: all 0.3s cubic-bezier(.55, 0.0, .28, 1.682), box-shadow 0.2s ease-in-out, background-color 0.2s ease-in-out;
    border-radius: 80px;
    border: 1px solid alpha(@bg3, .8);
}

button:hover {
	background-color: transparent; 
    color: @fg;
    background-size: 25%;
    margin: 15px;
    border-radius: 80px;
    outline-style: none;
    box-shadow: 0 8px 24px 0 rgba(235, 219, 178, 1);
}

#lock {
    background-image: image(url("/home/sergey/.config/wlogout/icons/lock.png"));
}

#logout {
    background-image: image(url("/home/sergey/.config/wlogout/icons/logout.png"));
}

#suspend {
    background-image: image(url("/home/sergey/.config/wlogout/icons/suspend.png"));
}

#hibernate {
    background-image: image(url("/home/sergey/.config/wlogout/icons/hibernate.png"));
}

#shutdown {
    background-image: image(url("/home/sergey/.config/wlogout/icons/shutdown.png"));
}

#reboot {
    background-image: image(url("/home/sergey/.config/wlogout/icons/reboot.png"));
}
